<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean class="com.Employee" id="e1" >
	
	<property name="id" >
		<value>1</value>
	</property>
	<property name="name" >
		<value>tom</value>
	</property>
	<property name="sal" >
	<value>15000</value>
	</property>
	<property name="job" >
	<value>developer</value>
	</property>
	
	</bean>    
	<bean class="com.Employee" id="e2" >
	
	<property name="id" value="2"/>
	<property name="name" value="jerry"/>	
	<property name="sal" value="16000"/>
	<property name="job" value="tester"/>	
	
	</bean>    
</beans>